{% extends 'master.html' %}
{% block content %}
   
    <h1 class="welcome text-5xl mx-auto  m-4 mb-2 font-bold m ">
       Just Cravy now.
    </h1>
    
    <div class=" m-4 grid md:grid-cols-4 justify-center items-center ">
            
            {% for item in items %}
            
            <div class="min-w-72 bg-red-500 mx-auto my-2 p-10 rounded transition delay-60 hover:-translate-y-2 
                                    hover:scale-110 hover:border-white hover:text-amber-300 hover:bg-red-500">
                <!-- bg-gradient-to-b from-red-500 to-orange-500 -->
                <a href=" {% url 'food:item_details' item.id %}">
                    <img class=" h-40 mx-auto border-white border-2 " src="{{item.image.url}}" alt="">
                    <p class="text-wrap text-2xl py-1 font-semibold"> {{item.name}} </p>
                    
                    <!-- <p> {{item.description}}</p>  -->
                    <p class=" bg-green-400 text-xl font-semibold rounded p-1 mr-4"> 
                            &#8377 {{item.price}} </p>
                </a>
            </div>
            {% endfor %}
    </div>
{% endblock %}
